/// Colors
$color-black: #000;
$color-blue: #0099cb;
$color-grey-very-light-dark: #959593;
$color-grey-light-dark: #777772;
$color-grey-dark: #474743;
$color-grey-fresh-light: #d9d9d9;
$color-grey-light: #ddd;
$color-grey-lighter: #dbdbdb;
$color-grey-very-light: #cbcbcb;
$color-grey-white-light: #e5e5e5;
$color-grey-white: #e3e3e3;
$color-grey: #b3b3b3;
$color-grey-ultra-light: #eee;
$color-lemon-grass: #959593;
$color-white: #fff;
$color-raspberry: #ed1a5b;
